<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <!--display the information which is choosen by the id in post_controllers.rb  -->
  <h1><%= @post[:title] %></h1>
  <h2><%=@post[:email]%></h2>
  <h2><%=@post[:firstname]%></h2>
  <h2><%=@post[:lastname]%></h2>
  <h2><%=@post[:age]%></h2>
</body>
</html>
